body{
  font-family: 'Slabo', serif;
  /* background-color: 	#7289da; */
  /* background: url('../imgs/im12.jpg') center; */
  background-size: contain;
}


.navbar-brand{
  color: #fff;
  font-family: 'Amaranth', cursive;
  font-size: 1.5em;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-nav .nav-link:hover{
  color: gray;
}
nav{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.home{
  background-color: #000;
  height: 85vh;
}
.d-block{
  padding-top: 4em;
  width: 100%;
  height: 85vh;
}

#section1{
  width: 100%;
  height: 10em;
  padding: 2em 4em;
  font-size: 1.2em;
  /* background-color: #00aaff; */
  background-color:#7289da;
  color:#fff;
  z-index: 10;
  display: table;
}
.about-us{
  font-family: 'Open Sans', sans-serif;
}
#section1 .container{
  font-size: 1em;
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
  justify-content: space-between;
}
#section1 h4{
  text-transform: uppercase;
  padding-bottom: .5em;
  text-align: center;
  font-size: 1.4em;
}
#section1 h5{
  font-size: 1.2em;
  text-align:center;
}
.main{
  padding: 2em 1em;
  margin: 0 2em;
}
.main .col-sm-4{
  overflow: hidden;
}
.main .col-sm-3{
  overflow: hidden;
}
.content{
  max-width: 100%;
  height: 15em;
  padding: 1em;
  border: 1px solid transparent;
  -webkit-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
}
.text_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  margin:0 .8em;
  background: rgba(0, 0, 0, 0.4);
  color: #dfdfdf;
  font-size: 1.25em;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.text_wrapper:hover {
  opacity: 0;
}
.main .im1{
  background: url('../imgs/im7.jpg') center;
  background-size: cover;
  -webkit-transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
  transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
}
.main .im1:hover{
  width: 110%;
  height: 110%;
}
.main .im2{
  background: url('../imgs/im6.jpg') center;
  background-size: cover;
  -webkit-transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
  transition: width 1.3s ease-in-out, height 1.3s ease-in-out;

}
.main .im2:hover{
  width: 110%;
  height: 110%;
}
.main .im3{
  background: url('../imgs/im8.png') ;
  background-size: cover;
  -webkit-transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
  transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
}
.main .im3:hover{
  width: 110%;
  height: 110%;
}
.text_wrapper  h4{
  color: #fff;
  text-align: center;
  position: relative;
  top: 33.33%;
  font-size: 1.5em;
  padding: .5em;
}
.outquote{
  display: table;
  width: 100%;
}
.quote{
  display: table-cell;
  vertical-align: middle;
  height: 10em;
  width: 100%;
  /* background-color: #042e72;
  background: url('../imgs/im10.jpg') center no-repeat; */
  background-size: cover;
  /* color: #000; */
  background-color:#7289da;
  color:#fff;
}
.quote h4{
  padding: 1em 3em;
  font-size: 1.7em;
  text-align: center;
  font-family: 'Amaranth', cursive;
  word-spacing: .2em;
}
.main .hotel .im1{
  background: url('../imgs/im15.jpg') ;
  background-size: cover;
  -webkit-transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
  transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
}
.main .hotel .im2{
  background: url('../imgs/im15.jpg') ;
  background-size: cover;
  -webkit-transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
  transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
}
.main .hotel .im3{
  background: url('../imgs/im15.jpg') ;
  background-size: cover;
  -webkit-transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
  transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
}
.feet{
  width: 100%;
  min-height: 20em;
  background-color: #2c2f33;
  color: #fff;
  padding: 2em;
}
.quie{
  margin: 0;
  padding: 0;
  list-style: none;
}
.quie a{
  padding: .5em;
  font-size: 1.1em;
  letter-spacing: .05em;
  color: #fff;
}
.coop{
  text-align: center;
  padding-top: 2em;
}
@media only screen and (max-width: 1200px) {
    .home {
    height: 60vh;
    }

.d-block {
    height: 60vh;
  }
  #section1{
    padding: 1em 1.5em;
  }
  .main {
    padding: 1em 2em;
    margin: 0 0;
  }
  .main .col-lg-4 {
    margin-bottom: 1em;
  }
  .main .col-lg-3{
    margin-bottom: 1em;
  }
  .quote h4 {
    padding: 1em 1em;
  }
}